<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pda_scanner_lmhung.barcode_scanner_plugin">

    <uses-permission android:name="android.permission.CAMERA" />
    <application>
        <activity
            android:name=".CameraScanActivity"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
    </application>

</manifest>
